.parent{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.paris{
    display: inline-block;
    width: 170px;
    height: 270px;
    border: 1px solid red;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    box-shadow: 4px 4px 10px  gray;
}

hr{
    width: 85%;
    margin-right: 0px;
    margin-top: -20px;
}

.todo-1{
    display: inline-block;
    width: 170px;
    height: 270px;
    border: 1px solid red;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    box-shadow: 4px 4px 10px  gray;
}

.todo-2{
    display: inline-block;
    width: 170px;
    height: 270px;
    border: 1px solid red;
    border-radius: 5px;
    margin: 20px;
    text-align: center;
    box-shadow: 4px 4px 10px  gray;
}
.text{
    text-align: center;
    margin-top: 175px;
    
    
}


.text{
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.add-list{
    color: black;
    font-size: 30px;
}
.task{
    margin-right: 250px;
}
.plus-btn{
    height: 40px;
    width: 40px;
    border: 2px solid red;
    border-radius: 50%;
    font-size: 30px;
    background-color: red;
    color: white;
}
.paris-text{
    font-size: 22px;
    color: red;
    text-decoration: none;
}
a{
    color: red;
    text-decoration: none;
}
.cut{
    font-size: 20px;
    color: red;
}
.check{
    margin-top: 10px;
    font-size: 20px;
}
.popup-modal{
    border: 1px red solid;
    width: 430px;
    text-align: center;
    height: 180px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 3px 3px 2px 2px gray;
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 33%;

}
.popup-modal>p{
    font-size: 20px;
    color: red;
}
.popup-modal>input{
    
    width: 300px;
    height: 30px;
    border-color: red;
}
.popup-modal>button{
    background-color: red;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    display: block;
    margin: auto;
    margin-top: 20px;
    color: white;
}
.blur2{
    filter: blur(5px);
    -webkit-filter: blur(5px);

}
button:hover{
    cursor: pointer;
}
